<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>QAS</title>
</head>
<body bgcolor=D2DCF7>
<hr>	
<h1>Question Answering System, By Charles Ochoa.</h1>
	<hr/>
{% if asked %}
	Gracias por preguntar
	<form>
		<input Type="BUTTON" VALUE="ASK again" ONCLICK="window.location.href='http://127.0.0.1:8000/qa_system/'"> 
	</form>
	<br>
	<h3>RESULTADOS<h3>
		
			{% csrf_token %}
			<table border="1" bgcolor=D2F7D9>
				<tr>
					<th>Pregunta</th>
					<th wigth="600">Respuestas</th>
					<th wigth="200">Link de Origen</th>
					<th>Tiempo de Conexion a Internet</th>
					<th>Tiempo de Pre-procesamiento</th>
					<th>Tiempo de Entrenamiento</th>
					<th>Tiempo de Recall</th>
					<th>Algoritmo Utilizado</th>
					<th>Numero de Iteraciones</th>
					<th>Respuesta Correcta</th>

				</tr>
				{% for r in results %}
					<tr>
						<td><font size="3">{{r.0.question}}</font></td>
						<td><font size="1">
							{% for d in r.1 %}
								{{d.content_txt}}
								<br><br>
							{% endfor %}
						</font></td>
						<td><font size="2">
							{% for d in r.1 %}
								{{d.link}}
								<br><br>
							{% endfor %}
						</font></td>
						<td>{{r.0.retrieval_time}}</td>
						<td>{{r.0.preprocessing_time}}</td>
						<td>{{r.0.training_time}}</td>
						<td>{{r.0.recall_time}}</td>
						<td>{{r.0.training_algorithm}}</td>
						<td>{{r.0.iterations}}</td>
						<td>{{r.0.supervised_answer}}</td>
					</tr>
				{% endfor %}
			</table>
			<form action="update/">
				Desea modificar datos?
				<input type="submit" value="MODIFICAR"/>

			</form>
{% else %}

	<form action="." method="POST">
		Al realizar el TEST el sistema no tomara en cuenta .<br>
		{% csrf_token %}
		{{form.as_p}}
		<input type="submit" name="test" value="TEST"/>
	</form>
	<form action="show/" method="POST">
		{% csrf_token %}
		<input type="submit" name="test" value="MOSTRAR"/>
	</form>
{% endif %}	

</body>
</html>